html, body
{
	margin:none;
	background:#000;	
}

#flicker {
    width: 100%;
    height: 100%;
    background-image: url('../images/v7z7g3.png');
	position:absolute;
}

#logo
{
	width:210px;
	height:210px;
	background:url(../images/logo.png) no-repeat;
	margin:0px auto;
	top:50%;
	margin-top:-105px;
	left:50%;
	margin-left:-105px;
	position:absolute;	
}